<div class="intro text-foreground">
  <p>{{ displayedText }}</p>
  <div class="h-12"></div>
  <button *ngIf="!isTyping && displayedText !== '🎮 Let\'s go!'" 
    class="fixed bottom-0 left-6 z-50 bg-secondary px-3 py-2 rounded-lg text-lg text-background shadow-md hover:bg-accent hover:text-foreground active:translate-y-1 active:shadow-sm transition-all duration-150 flex items-center justify-center"
    style="cursor: pointer; min-width: 5rem; max-width: 12rem;" (click)="nextLine()">
    {{ currentLineIndex < lines.length - 1 ? 'Next' : 'Start' }}
  </button>
  <ng-container *ngIf="displayedText === '🎮 Let\'s go!' || isSkipped">
    <div class="flex flex-col gap-4 mt-4 w-full">
      <a routerLink="/interview-options" class="w-full">
        <button class="w-full bg-secondary text-background px-5 h-12 rounded-lg shadow-md font-oldnews hover:bg-accent hover:text-foreground hover:scale-105 transition-all duration-150">Interview Practice</button>
      </a>
      <a href="/counselling" class="w-full">
        <button class="w-full bg-secondary text-background px-5 h-12 rounded-lg shadow-md font-oldnews hover:bg-accent hover:text-foreground hover:scale-105 transition-all duration-150">Career Counselling</button>
      </a>
      <!-- <a href="#" class="w-full">
        <button class="w-full bg-secondary text-background px-5 h-12 rounded-lg shadow-md font-oldnews hover:bg-accent hover:text-foreground hover:scale-105 transition-all duration-150">Job Search</button>
      </a> -->
    </div>
  </ng-container>
</div>
<button
  class="fixed bottom-0 right-6 z-50 bg-background text-secondary px-3 py-2 rounded-lg shadow-lg text-lg hover:bg-accent hover:text-foreground transition-all duration-150"
  style=" min-width: 5rem;"
  (click)="skipIntro()"
  *ngIf="!isSkipped && !hasSeenIntro"
>
  Skip
</button>