@tailwind base;
@tailwind components;
@tailwind utilities;

.header-title {
    font-size: 4rem;
    font-weight: 700;
}

.instruction {
  font-size: 1.2rem;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.intro {
  font-size: 2rem;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

@font-face {
  font-family: 'OldNewspaperTypes';
  src: url('/font/oldnewspapertypes/OldNewspaperTypes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}