@tailwind base;
@tailwind components;
@tailwind utilities;

.header-title {
    font-size: 4rem;
    font-weight: 700;
}

.instruction {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}