<main class="main p-4 sm:p-6 md:p-10">
  <div class="header-title">
    product name
  </div>
   <nav class="w-full flex flex-col mb-6">
    <div class="border-b border-gray-200 mb-2"></div>
    <div class="flex items-center gap-6">
      <a routerLink="/" class="text-gray-600 hover:text-white transition" routerLinkActive="!text-white" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/interview-options" class="text-gray-600 hover:text-white transition" routerLinkActive="!text-white">Interview Practice</a>
      <a routerLink="#" class="text-gray-600 hover:text-white transition" routerLinkActive="!text-white">Chat</a>
      <a routerLink="#" class="text-gray-600 hover:text-white transition" routerLinkActive="!text-white">Job Search</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</main>